<h2>Cadastrar novo contato</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label
      >Nome:* <input type="text" name="name" formControlName="name"
    /></label>
    <span *ngIf="name!.invalid" class="alert">
      <span *ngIf="name!.errors?.['required']"> Campo obrigatório</span>
    </span>
  </div>
  <div class="form-group">
    <label
      >E-mail:* <input type="text" name="email" formControlName="email"
    /></label>
    <span *ngIf="email!.invalid" class="alert">
      <span *ngIf="email!.errors?.['required']"> Campo obrigatório </span>
      <span *ngIf="email!.errors?.['email']"> Formato incorreto </span>
    </span>
  </div>
  <div class="form-group">
    <label
      >Telefone:* <input type="text" name="phone" formControlName="phone"
    /></label>
    <span *ngIf="phone!.invalid" class="alert">
      <span *ngIf="phone!.errors?.['required']"> Campo obrigatório </span>
      <span *ngIf="phone!.errors?.['pattern']"> Apenas números </span>
    </span>
  </div>
  <div class="form-group">
    <label
      >Endereço:* <input type="text" name="adress" formControlName="adress"
    /></label>
    <span *ngIf="adress!.invalid" class="alert">
      <span *ngIf="adress!.errors?.['required']"> Campo obrigatório </span>
    </span>
  </div>
  <div class="form-group">
    <label
      >Número: <input type="text" name="number" formControlName="number"
    /></label>
  </div>
  <div class="form-group">
    <label
      >Complemento:
      <input type="text" name="complement" formControlName="complement"
    /></label>
  </div>
  <div class="form-group">
    <label
      >Bairro:*
      <input type="text" name="neighborhood" formControlName="neighborhood"
    /></label>
    <span *ngIf="neighborhood!.invalid" class="alert">
      <span *ngIf="neighborhood!.errors?.['required']">
        Campo obrigatório
      </span>
    </span>
  </div>
  <div class="form-group">
    <label
      >Cidade:* <input type="text" name="city" formControlName="city"
    /></label>
    <span *ngIf="city!.invalid" class="alert">
      <span *ngIf="city!.errors?.['required']"> Campo obrigatório </span>
    </span>
  </div>
  <div class="form-group">
    <label
      >UF:*
      <select type="text" name="state" formControlName="state">
        <option *ngFor="let state of states" value="{{ state }}">
          {{ state }}
        </option>
      </select></label
    >
    <span *ngIf="state!.invalid" class="alert">
      <span *ngIf="state!.errors?.['required']"> Campo obrigatório </span>
    </span>
  </div>
  <div class="form-group">
    <label>CEP:* <input type="text" name="cep" formControlName="cep" /></label>
    <span *ngIf="cep!.invalid" class="alert">
      <span *ngIf="cep!.errors?.['required']"> Campo obrigatório </span>
      <span *ngIf="cep!.errors?.['pattern']"> Apenas números </span>
    </span>
  </div>
  <p>* Campo obrigatório</p>
  <button type="submit" [disabled]="!form.valid">Cadastrar</button>
</form>

<div><a [routerLink]="['']">Voltar</a></div>
