<div class="container">
  <label class="filter"
    >Filtar por nome: <input (input)="searchByName($event)" type="text"
  /></label>

  <div *ngFor="let contact of filteredContacts">
    <div class="card">
      <h3>{{ contact.name }}</h3>
      <div class="card-content">
        <div>
          <p class="card-phone">
            <span>Telefone: </span>{{ contact.phone | phone }}
          </p>
          <p><span>E-mail: </span>{{ contact.email }}</p>
        </div>
        <button class="button-15" (click)="deleteContact(contact.id)">
          Excluir
        </button>
      </div>
      <div class="card-links">
        <a [routerLink]="['/detail', contact.id]">Detalhes</a>
        <a [routerLink]="['/edit', contact.id]">Editar</a>
      </div>
    </div>
  </div>

  <div>
    <a class="page-link" [routerLink]="['/add']">Cadastrar novo contato</a>
  </div>
  <div *ngIf="contacts.length == 0">
    <button class="button-15" (click)="addFictionalContacts()">
      Cadastrar Contatos Fictícios
    </button>
  </div>
</div>
